*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#1f1f1f;
}
.navigation{
    display: flex;
    height: 60px;
    background-color:    #1f1f1f;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.item{
    color: white;
    margin-left: 15px;
}
.navigation .item a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit the white color from the parent */
}

.navigation .item a:hover{
    text-decoration: underline;
}
.left-items, .right-items {
    display: flex;
    gap: 20px; /* Space between items */
}
.image-section{
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}
.image-section > .image{
    display: block;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 37px;
    padding: 14px;
    border-radius: 28px;
    margin-left: auto;
    margin-right: auto;
    background: #1f1f1f;
    border: 1px solid whitesmoke;
}
.container > .search-input{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.button {
    background-color: #333438;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  .buttons > a:hover{
    background-color: darkslategrey;
  }
  .bottomnavbar{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: transparent;
  }
.bottomnavbar > .nav1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: whitesmoke;
    padding-left: 20px;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 10px;
    
}
.bottomnavbar > .nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;

}

.left-nav, .right-nav {
    display: flex;
    gap: 10px; /* Space between items within each group */
    color: wheat;
}

.left-nav {
    flex: 1; /* Take up remaining space on the left */
}

.right-nav {
    flex: 1; /* Take up remaining space on the right */
    justify-content: flex-end; /* Align items to the right within this section */

}
.bnav a{
    color: white; /* Text color for links */
    font-size: 16px; /* Font size for readability */
    padding-right: 20px;
    text-decoration: none;
}

.bnav a:hover{
    text-decoration: underline;
}