*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#1f1f1f;
}
.navigation{
    display: flex;
    height: 60px;
    background-color:    #1f1f1f;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.item{
    color: white;
    margin-left: 15px;
}
.navigation .item a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit the white color from the parent */
}

.navigation .item a:hover{
    text-decoration: underline;
}
.left-items, .right-items {
    display: flex;
    gap: 20px; /* Space between items */
}
.image-section{
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}
.image-section > .image{
    display: block;
    justify-content: center;
}
.form > form{
    display: flex;
    justify-content: center;
}