*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#1f1f1f;
}
.navigation{
    display: flex;
    height: 60px;
    background-color:    #1f1f1f;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.item{
    color: white;
}
.navigation .item a {
    text-decoration: none; 
    color: inherit; 
}

.navigation .item a:hover{
    text-decoration: underline;
}
.left-items, .right-items {
    display: flex;
    gap: 20px; /* Space between items */
}
.image-section{
    display: flex;
    height: 150px;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
}
.image-section > .image{
    display: block;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 37px;
    padding: 14px;
    border-radius: 28px;
    margin-left: auto;
    margin-right: auto;
    background: #1f1f1f;
    border: 1px solid whitesmoke;
}
.container > .search-input{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.button {
    background-color: #333438;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  .buttons > a:hover{
    background-color: darkslategrey;
  }
 
.searchpage{
    display: flex;
    height: 48px;
    margin: 20px;
}
.searchpage>.nav_img{
    display: flex;
    align-items:center ;
    justify-content: flex-end;
    width: 100%;
}
.searchpage .link a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
    font-size: 16px;
    margin: 10px;
    height: 117px;
}
.searchpage .link a:hover {
    text-decoration: underline;
}
.googleimage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 100%;
    max-height: 100%;
}
.googleimage p{
    color: blue;
    display: inline-block;
    text-wrap: wrap;

}
.frm {
    display: flex;
    width:500px;
    padding: 14px;
    border-radius: 28px;
    position: relative;
    margin: auto;
    background: transparent;
    border: solid gray;
}
.frminput {
    border-radius: 28px;
    height: 20px;
    position: absolute;
    width: 100%; /* Ensure input takes the full width of its container */
    padding-left: 40px; /* Space for the icon */
    background: transparent;
    outline: none;
    border: none;
    color: white;

}
.grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.grid1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin: 10px;
    border-bottom: 1px solid  gainsboro;
}
.grid2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid2 > .litem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.litem > .lg{
    margin: 10px;
}
.ritem > .rg{
    margin: 10px;
}
.grid2 > .ritem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px;
}
.grid-container a{
     text-decoration: none;
     color: white;
}
.grid-container a:hover{
    text-decoration: underline;
}
.upper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 48px;
    font-size: 37px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left > a{
    text-decoration: none;
    color: white;
}
.left a:hover{
    text-decoration: underline;
}
.right > a{
    text-decoration: none;
    color: white;
}
.right a:hover{
    text-decoration: underline;
}
.hclass{
    color: rgb(145, 8, 8);
    margin: 10px;
    height: 45px;
    width: 100%;
    font-size: x-large;
    border-bottom: 1px solid grey;
}
.u_searchbar{
    display: flex;
    padding: 20px 25px;
    margin:auto;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.find {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 .item1,.item{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width:100%;
}
.egtxt{
    font-size: small;
}
.item > div{
  float: left;
  padding-left: 10px;
  justify-content: baseline;
  align-items: center;
}
.item1 > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: white;
}
.item1 > .i1{
    display: flex;
    justify-content: flex-start;
}
.item1 > .i2{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.item{
    justify-content: space-between
}
.item  input{
    width: 500px;
    padding: 5px;
    background: transparent;
    align-content: center;
    justify-content: space-around;
    border: 1px solid gray;
    float: left;
    color: white
}
.item > div{
    flex: 1;
}
.item1 > div{
    float: left;
    width: 50%;
  }
  button{
    margin-top: 30px;
    background-color: blue;
    color: black;
    font-weight: bold;
    border: none;
    padding: 2px;
  }
  .foot > a{
    text-decoration: none;
  }
  .foot > a:hover{
    text-decoration: underline;
  }
  .bottom {
    display: flex;
    margin: 10px;
    color: white;
    flex-direction: column;
  }
  .bottom > .end{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .end  a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }
  .end a:hover{
    text-decoration: underline;
  }